<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.disable.jugd.academy.mapper.CodeMapper">

    <select id="selectCommonCode" parameterType="Map" resultType="CodeVO">
        SELECT
        common_code_no
        , code_name
        , code
        , display_order
        , group_code_name
        , group_code
        , reg_date
        , etc_info
        , use_status
        FROM
        COMMON_CODE
        WHERE 1=1

        <if test="searchChkValue == '00'">
            and group_code_name LIKE CONCAT('%',#{searchArea},'%') OR code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        <if test="searchChkValue == '01'">
            and group_code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        <if test="searchChkValue == '02'">
            and code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        ORDER BY common_code_no DESC, group_code DESC, display_order ASC

    </select>

    <delete id="deleteCode" parameterType="CodeVO">
        <![CDATA[
        /* deleteCode히히히 */
        DELETE FROM
                    COMMON_CODE
        WHERE
            common_code_no IN
        ]]>
        <foreach collection="codeNoArr" item="codeNo" open="(" close=")" separator=",">
            #{codeNo}
        </foreach>
    </delete>

    <select id="selectCodeNo" parameterType="CodeVO" resultType="CodeVO">
        <![CDATA[
        /* selectCodeNo히히히 */
        SELECT common_code_no
        FROM COMMON_CODE
        WHERE common_code_no IN
]]>
        <foreach collection="codeNoArr" item="codeNo" open="(" close=")" separator=",">
            #{codeNo}
        </foreach>
    </select>

    <insert id="insertCode" parameterType="CodeVO">
            <![CDATA[
        INSERT INTO COMMON_CODE( group_code_name
                               , group_code
                               , code_name
                               , code
                               , display_order
                               , etc_info
                               , reg_id
                               , reg_date)
        VALUES ( #{groupCodeName}
               , #{groupCode}
               , #{codeName}
               , #{code}
               , #{displayOrder}
               , #{etcInfo}
               , #{regId}
               , NOW())
        ]]>
        </insert>

    <select id="selectDetailCode" parameterType="CodeVO" resultType="CodeVO">
        SELECT common_code_no
             , group_code_name
             , group_code
             , code_name
             , code
             , display_order
             , etc_info
        FROM COMMON_CODE
        WHERE common_code_no = #{commonCodeNo}
    </select>

    <update id="updateCode" parameterType="CodeVO">
    <![CDATA[
        UPDATE
            COMMON_CODE
        SET group_code_name = #{groupCodeName}
          , group_code      = #{groupCode}
          , code_name       = #{codeName}
          , code            = #{code}
          , display_order   = #{displayOrder}
          , etc_info        = #{etcInfo}
        WHERE common_code_no = #{commonCodeNo}
        ]]>
    </update>

    <select id="selectCode" parameterType="Map" resultType="CodeVO">
        SELECT common_code_no
        , group_code_name
        , group_code
        , code_name
        , code
        , display_order
        , reg_date
        , etc_info
        , use_state
        FROM
        COMMON_CODE
        WHERE 1=1
        <if test="groupCode != null and groupCode != ''">
            and group_code = #{groupCode}
        </if>
        <if test="searchChkValue == '00'">
            and group_code_name LIKE CONCAT('%',#{searchArea},'%') OR code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        <if test="searchChkValue == '01'">
            and group_code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        <if test="searchChkValue == '02'">
            and code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        ORDER BY common_code_no DESC, group_code DESC, display_order ASC
    </select>

    <update id="updateCodeUseState" parameterType="CodeVO">
        UPDATE COMMON_CODE
        SET use_state =
        CASE WHEN use_state = 'Y' then 'N'
        WHEN use_state = 'N' then 'Y' END
        WHERE
        common_code_no IN
        <foreach collection="codeNoArr" item="codeNo" open="(" close=")" separator=",">
            #{codeNo}
        </foreach>
    </update>

    <update id="updateCodeUseStateY" parameterType="CodeVO">
        UPDATE COMMON_CODE
        SET use_state = #{useState}
        WHERE
        common_code_no IN
        <foreach collection="codeNoArr" item="codeNo" open="(" close=")" separator=",">
            #{codeNo}
        </foreach>
    </update>

    <select id="selectCodeCnt" parameterType="Map" resultType="Integer">
        SELECT COUNT(*)
        FROM COMMON_CODE
        WHERE
        1=1
        <if test="searchChkValue == '00'">
            and group_code_name LIKE CONCAT('%',#{searchArea},'%') OR code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        <if test="searchChkValue == '01'">
            and group_code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
        <if test="searchChkValue == '02'">
            and code_name LIKE CONCAT('%',#{searchArea},'%')
        </if>
    </select>
</mapper>

