<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.disable.jugd.academy.mapper.JudgeMapper">
	<select id="selectJudgeInfo" parameterType="JudgeVO" resultType="JudgeVO">
		/* selectJudgeInfo */
		SELECT
			      judge_no
			    , judge_name
			    , judge_kind
		FROM
				JUDGE_INFO
		WHERE
				judge_no = #{judgeNo}		
		<if test="eduStatus != null and eduStatus != ''">
		AND
				judge_name = #{judgeName}
		</if>		
		<if test="eduStatus != null and eduStatus != ''">
		AND
				judge_kind = #{judgeKind}
		</if>		
	</select>
	
	<select id="selectJudgeMemberList" parameterType="Map" resultType="JudgeVO">
	<![CDATA[
		/* selectJudgeMemberList */
		SELECT
			  @ROWNUM := @ROWNUM - 1 AS ROWNUM
			, D.*
		FROM(
				SELECT C.*
				FROM (
					SELECT
					    JUDGE_NO
					    , JUDGE_NAME
					    , JUDGE_KIND
					    , MOD_DATE
					FROM
						JUDGE_INFO
				) C
			) D, (SELECT @ROWNUM := #{judgeMemberListCnt} + 1) NUM
		ORDER BY D.judge_no DESC
	]]>
	</select>
	
	<select id="selectJudgeMemberListCnt" parameterType="Map" resultType="Integer">
	SELECT
			    COUNT(*)
		FROM
				JUDGE_INFO
	</select>
	
	<update id="updateJudgeInfo" parameterType="JudgeVO">
	<![CDATA[
		/* updateJudgeInfo */
		UPDATE
				JUDGE_INFO
		SET
				  judge_name = #{judgeName}
				, judge_kind = #{judgeKind}
				, mod_date = NOW()
				, mod_id = #{modId}
		WHERE
				judge_no = #{judgeNo}
	]]>
	</update>

	<!--0414 추가-->
	<select id="selectJudgeList" parameterType="Map" resultType="JudgeVO">
		SELECT judge_no,
			   judge_name,
			   judge_kind,
			   judge_state,
			   judge_ect,
			   reg_date
		FROM
			JUDGE_INFO
		ORDER BY reg_date DESC, judge_name ASC
	</select>

	<select id="selectDetailJudge" parameterType="JudgeVO" resultType="judgeVO">
		SELECT J.judge_no,
			   J.judge_name,
			   J.judge_kind,
			   J.judge_state,
			   J.judge_ect,
			   J.reg_date,
		       C.code_name,
		       C.code
		FROM
		     JUDGE_INFO J, COMMON_CODE C
        WHERE
        	J.judge_kind = C.code
	</select>

	<update id="updateJudgeData" parameterType="JudgeVO">
		UPDATE
		    JUDGE_INFO J
		SET
		    J.judge_no = #{judgeNo},
			J.judge_name = #{judgeName},
			J.judge_kind = #{judgeKind},
			J.judge_state =
		    	CASE WHEN judge_state = 'Y' then 'N',
		    	    WHEN judge_state = 'N' then 'Y' END,
			J.judge_ect = #{judgeEct},
			J.reg_date = #{regDate}
		WHERE judge_no = #{judge_no}
	</update>
</mapper>