<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.disable.jugd.academy.mapper.JudgeMapper">
	<select id="selectJudgeInfo" parameterType="JudgeVO" resultType="JudgeVO">
		/* selectJudgeInfo */
		SELECT
			      judge_no
			    , judge_name
			    , judge_kind
		FROM
				JUDGE_INFO
		WHERE
				judge_no = #{judgeNo}		
		<if test="eduStatus != null and eduStatus != ''">
		AND
				judge_name = #{judgeName}
		</if>		
		<if test="eduStatus != null and eduStatus != ''">
		AND
				judge_kind = #{judgeKind}
		</if>		
	</select>
	
	<select id="selectJudgeMemberList" parameterType="Map" resultType="JudgeVO">
	<![CDATA[
		/* selectJudgeMemberList */
		SELECT
			  @ROWNUM := @ROWNUM - 1 AS ROWNUM
			, D.*
		FROM(
				SELECT C.*
				FROM (
					SELECT
					    JUDGE_NO
					    , JUDGE_NAME
					    , JUDGE_KIND
					    , MOD_DATE
					FROM
						JUDGE_INFO
				) C
			) D, (SELECT @ROWNUM := #{judgeMemberListCnt} + 1) NUM
		ORDER BY D.judge_no DESC
	]]>
	</select>
	
	<select id="selectJudgeMemberListCnt" parameterType="Map" resultType="Integer">
	SELECT
			    COUNT(*)
		FROM
				JUDGE_INFO
	</select>
	
	<update id="updateJudgeInfo" parameterType="JudgeVO">
	<![CDATA[
		/* updateJudgeInfo */
		UPDATE
				JUDGE_INFO
		SET
				  judge_name = #{judgeName}
				, judge_kind = #{judgeKind}
				, mod_date = NOW()
				, mod_id = #{modId}
		WHERE
				judge_no = #{judgeNo}
	]]>
	</update>
	
</mapper>