    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #fff;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        /* padding: 20mm; */
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-family: 궁서;
        font-weight: bold;
    }
    #container_file .page {
        width: 210mm;
        min-height: 297mm;
        padding: 0;
        margin: 0 auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-family: "Malgun Gothic", "맑은 고딕", "MG", "dotum", "돋움", sans-serif;
        font-weight: bold;

    }
    .subpage {
        padding: 1cm;
        border: 5px #fff solid;
        height: 257mm;
        outline: 2cm #fff solid;
        position: relative;
        background: #fff url('../images/print_bg.png') center center;
        background-size: cover;
    }
    .subpage_admin {
        padding: 0;
        position: relative;
    }
    .subpage_admin.no_img {
        text-align: center;
        position: relative;
        color: #666;
        padding-top: 100mm;
    }
    .num_publish{
        position: absolute;
        font-size: 21px;
        left: 60px;
        top: 75px;
    }
    .name_subject{
        position: absolute;
        left: 55px;
        top: 300px;
        font-size: 22px;
    }
    .name_subject ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .name_subject ul li {
        text-align: left;
        height: 48px;
    }
    .date_publish{
        position: absolute;
        top: 700px;
        left: 210px;
        font-size: 23px;
    }
    .company_wrap{
        position: relative;
    }
    .name_company{
        position: absolute;
        top: 805px;
        left: 50%;
        width: 500px;
        margin: 0 0 0 -250px;
        font-size: 26px;
        text-align: center;
        z-index: 1000;
    }
    .img_stamp{
        position: absolute;
        top: -15px;
        margin-left: -5px;
    }
    .btn-wrap {
        padding-top: 30px;
        display: block;
        position: relative;
        text-align: center;
    }
    .btn2 {
        overflow: hidden;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        border: 1px solid #2b70cc;
        background: none;
        vertical-align: middle;
        padding: 9px 20px 8px;
        line-height: 1.5;
        border-radius: 3px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        transition: all .2s ease-out;
        font-size: 15px;
        color: #2b70cc;
    }

    .btn2:active,
    .btn2:hover {
        background-color: #e9f6fa;
    }

    .btn2.btn-blue {
        background-color: #2b70cc;
        border-color: #2b70cc;
        color: #fff;
    }

    .btn2.btn-blue:hover {
        background-color: #3067c3;
        border-color: #3067c3;
    }

    .btn2.btn-gray {
        background-color: #515b6c;
        border-color: #515b6c;
        color: #fff;
    }

    .btn2.btn-gray:hover {
        background-color: #424a58;
        border-color: #424a58;
    }

    /* file-box */
.file-box input[type="file"].upload-name {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0;
}
.file-box input[type="file"].upload-name+.btn,
.file-box input[type="file"].upload-name+.btn+.btn,
.file-box input[type="file"].upload-name+.btn+.btn +.btn {
    margin-left: 0px;
}

    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
        .btn-wrap{
            display: none;
        }
    }
